@import url('normalize.css');
@import url('reset.css');
@import url('main.css');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

:root {
  --basic-gray-color:#333333;
  --basic-white-color:#ffffff;
  --basic-gray2-color:#e1e1e1;
  --basic-gray3-color:#cccccc;
  --main-color:#0459E0;
  --basic-point2-color:#ff3131;
}

body {
  font-family: 'Pretendard-Regular';
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin:0 auto;
}

.blank {
  margin:100px 0;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom:50px;
  color: var(--basic-gray-color);
}

.next_button {
  width: 130px;
  height: 40px;
  border: 1px solid var(--basic-gray-color);
  border-radius: 50px;
  margin:50px auto;
  box-sizing: border-box;
}
.next_button a {
  display: block;
  text-align: center;
  line-height: 40px;
  color:var(--basic-gray-color);
}
.next_button:hover {
  background:var(--main-color);
  border: none;
}
.next_button:hover a {
  color:var(--basic-white-color);
}

header {
  position: relative;
  width: 100%;
  height: 135px;
  margin:0 auto;
  z-index:1;
}

.top_menu {
  position:relative;
  width: 100%;
  height:90px;
  line-height: 90px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--basic-gray2-color); 
}

.logo a{
  width: 200px;
  height: 46px;
  background: url('../images/logo.png') no-repeat;
  display: block;
  box-sizing: border-box;
  text-indent: -9999em;
}

.hd_con {
  display: flex;
  align-self: center;
}

.top_search {
  position: relative;
}
input {
  border:1px solid var(--basic-gray-color);
  border-radius: 30px;
}
.top_search fieldset {
  border:0 none;
}
.top_search_cont {
  position:relative;
}
.top_text_cont {
  width:400px;
  border:0 none;
  outline:none;
}
.top_text_cont input[type='text'] {
  width: 400px;
  padding: 0 10px;
  height: 40px;
}
.top_text_cont .top_search_text {
  box-sizing: border-box;
  color:var(--basic-white-color);
}
.top_text_cont button {
  position:absolute;
  top:30px;
  right:0;
  font-size: 20px;
  background: none;
  color:var(--basic-gray-color);
  border: none;
}

.menu_icon {
  display: flex;
}
.menu_icon li a i {
  font-size: 20px;
  color:var(--basic-gray-color);
}
.menu_icon li:first-child { padding-right:15px;}


.menubar_wrap {
	background:var(--basic-white-color);
	transition:height 0.5s;
	overflow:hidden;
}
.menubar_wrap:hover {
  border-bottom: 3px solid var(--main-color);
}
.menubar {
  width: 100%;
  border-bottom: 1px solid var(--basic-gray2-color);
  margin:0 auto;
  padding:10px 0;
}
.menubar > .d-flex {
  justify-content: space-around;
}
.menu > li {
  float:left;
  line-height:50px;
  position: relative;
}
.menu > li > a {
  font-size: 16px;
  display: block;
}

.sub_menu {
  position:absolute;
  width:100%;
  margin-top: 20px;
}
.sub_menu li {
  white-space: nowrap;
}
.sub_menu li:hover {
  color: var(--main-color);
}
.sub_menu li a {
  font-size: 16px;
}

/* FOOTER */

footer {
  border-top: 3px solid var(--main-color);
}
.footertop {
  margin-bottom: 20px;
}
.footertop > .container,
.footerbottom > .container {
  display: flex;
  justify-content: space-between;
}
.footertop ul {
  display: flex;
  gap: 10px;
}
.footertop ul li {
  padding: 10px;
}
.footertop > .container {
  border-bottom: 1px solid var(--basic-gray-color);
}
.footerbottom > .container {
  margin-bottom: 20px;
}
.footerbottom p, a {
  font-size: 14px;
  line-height: 24px;
}
.footerbottom .f_sns {
  display: flex;
}
.footerbottom .f_sns li {
  padding: 0 10px 10px;
}
.footerbottom .f_count ul + ul {
  background: #eeeeee;
  border-radius: 15px;
  padding: 10px;
}