@import url('normalize.css');
@import url('reset.css');
@import url('main.css');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
  
}

:root {
  --basic-gray-color:#121212;
  --basic-gray1-color:#333333;
  --basic-white-color:#ffffff;
  --basic-gray2-color:#e1e1e1;
  --basic-gray3-color:#cccccc;
  --main-color:#0459E0;
  --main-color2:#0047B8;
  --main-point2-color:#e62a10;
  --main-title-txt:54px;
  --sub-title-txt:40px;
  --sub-title2-txt:36px;
  --body-title-txt:30px;
  --body-txt:24px;
  --body-txt2:16px;
  --bold:900;
  --light:500;
}
.main_title {
  font-size: var(--sub-title-txt);
  font-weight: var(--bold);
}
.sub_title {
  font-size: var(--body-txt2);
  font-weight: var(--light);
  text-align: center;
  line-height: 36px;
  margin-bottom: 50px;
  color: #535353;
}

body {
  font-family: 'Pretendard-Regular';
  font-size: var(--body-txt2);
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin:0 auto;
}

.blank {
  margin:100px 0;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom:24px;
  color: var(--basic-gray-color);
}

.next_button {
  width: 130px;
  height: 40px;
  border: 1px solid var(--basic-gray1-color);
  border-radius: 50px;
  margin:50px auto;
  box-sizing: border-box;
}
.next_button a {
  display: block;
  text-align: center;
  line-height: 40px;
  color:var(--basic-gray1-color);
}
.next_button:hover {
  background:var(--main-color);
  border: none;
}
.next_button:hover a {
  color:var(--basic-white-color);
}


/* header */

header {
  position: relative;
  width: 100%;
  height: 160px;
  margin:0 auto;
  z-index:1;
}

.header_wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.top_menu {
  width: 100%;
  height:90px;
  line-height: 90px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--basic-gray2-color); 
}

.logo a{
  width: 200px;
  height: 46px;
  background: url('../images/logo.png') no-repeat;
  display: block;
  box-sizing: border-box;
  text-indent: -9999em;
}

.hd_con {
  display: flex;
  align-self: center;
}

.top_search {
  position: relative;
}
input {
  border:1px solid var(--basic-gray-color);
  border-radius: 30px;
}
.top_search fieldset {
  border:0 none;
}
.top_search_cont {
  position:relative;
  border:0 none;
  outline:none;
}
.top_search_cont input[type='text'] {
  width: 400px;
  padding: 0 10px;
  height: 40px;
}
.top_search_text {
  box-sizing: border-box;
  color:var(--basic-white-color);
}
.top_search_cont button {
  position:absolute;
  top:32px;
  right:10px;
  font-size: 20px;
  background: none;
  color:var(--basic-gray-color);
  border: none;
}


.menu_icon {
  display: flex;
}
.menu_icon li a i {
  font-size: 20px;
  color:var(--basic-gray-color);
}
.menu_icon li:first-child { padding-right:15px;}


/* menubar */

.menubar_wrap {
	background:var(--basic-white-color);
	transition:height 0.5s;
	overflow:hidden;
}
.menubar_wrap:hover {
  border-bottom: 3px solid var(--main-color);
}
.menubar {
  width: 100%;
  border-bottom: 1px solid var(--basic-gray2-color);
  margin:0 auto;
}
nav.menubar > .d-flex {
  justify-content: space-around;
}
.menu > li {
  width: 100%;
  float:left;
  position: relative;
  text-align: center;
}
.menu > li > a {
  font-size: 16px;
  font-weight: bold;
}

.menu > li > a, 
.sub_menu li a {
  width: 100%;
  display: block;
  line-height: 40px;
}
.menu > li > a:hover {
  font-weight: 900;
}

.sub_menu {
  position:absolute;
  width:100%;
}
.sub_menu li {
  white-space: nowrap;
}
.sub_menu li:hover {
  color: var(--main-color);
}

/* FOOTER */

footer {
  border-top: 3px solid var(--main-color);
}
.footertop {
  margin-bottom: 20px;
}
.footertop > .container,
.footerbottom > .container {
  display: flex;
  justify-content: space-between;
}
.footertop ul {
  display: flex;
  gap: 10px;
}
.footertop ul li {
  padding: 10px;
}
.footertop > .container {
  border-bottom: 1px solid var(--basic-gray-color);
}
.footerbottom > .container {
  margin-bottom: 20px;
}
.footerbottom p, a {
  font-size: 14px;
  line-height: 24px;
}
.footerbottom .f_sns {
  display: flex;
}
.footerbottom .f_sns li {
  padding: 0 10px 10px;
}
.footerbottom .f_count ul + ul {
  background: #eeeeee;
  border-radius: 15px;
  padding: 10px;
}