*{margin:0; padding:0;}
li{list-style:none;}

.container{
	width: 100%;
	height: 450px;
	margin:0 auto;
}

.slide_wrapper{
	position: relative;
	width:1200px;
	margin: 0 auto;	
	overflow:hidden;
}
.slides{
	display: flex;
	width: 750px;
	height:450px;
	gap:30px;
	margin:0 auto;
}
.slides.animated{
	transition:left 0.5s;
}

.slides li{
	margin:0 auto;
	width: 100%;
	height: 378px;
	background:#ccc;	
}

.slides .banner1 {background-image: url(./images/MainBanner1.png);}

.slides .banner2 {background-image: url(./images/MainBanner1.png);}

.slides .banner3 {background-image: url(./images/MainBanner1.png);}

.slides .banner4 {background-image: url(./images/MainBanner1.png);}

.slides .banner5 {background-image: url(./images/MainBanner1.png);}

.slides .banner6 {background-image: url(./images/MainBanner1.png);}

.banner6 {background-image: url(./images/MainBanner1.png);}
.controls{
	text-align: center;
	margin-top: 50px;
}

.controls span{
	background:#333;
	color: #fff;
	padding:10px 20px;
	margin:0 10px;
	display: inline-block;
}



@media (max-width:700px){
	.container {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.slide_wrapper{
		width:100%;
	}
}